.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 212, 212);
  z-index: 100;
  
}

.left {
  flex-shrink: 0;
  align-items: center;
}

.ham {
  height: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.youtube {
  height: 20px;
}

.byjosh {
  display: inline-block;
  position: relative;
}

.josh {
  position: absolute;
  font-family: cursive;
  font-size: 12px;
  font-weight: bold;
  bottom: -10px;
  right: -5px;  
}

.middle {
  display: flex;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px ;
  max-width: 500px;
  align-items: center;
}

.search {
  height: 30px;
  width: 0;
  font-size: 16px;
  border-style: solid;
  border-color: gray;
  padding-left: 20px;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px 
  rgba(68, 68, 68, 0.15);
  border-width: 0.5px;
  flex: 1 
  
}

.search::placeholder{
  font-family: arial;
}

.search-button {
  height: 34px;
  width: 60px;
  background-color: 
  rgb(233, 230, 230);
  margin-left: -1px;
  box-shadow: inset 1px 2px 3px 
  rgba(68, 68, 68, 0.15);
  margin-right: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}

.search-icon {
  height: 25px;
  margin-top: 4px;
}

.voice-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: 
  rgb(233, 230, 230);
}

.voice {
  height: 24px;
  margin-top: 4px;
  background-color: 
  rgb(233, 230, 230);
}

.right {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload {
  height: 25px;
}

.apps {
  height: 25px;
}

.noti {
  height: 25px;
}

.noti-no {
  position: relative;
}

.count {
  position: absolute;
  background-color: rgb(163, 0, 0);
  top: -2px;
  right: -2px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}

.user {
  height: 25px;
  border-radius: 12.5px;
  margin-right: 20px
}











