.img {
  width: 100%;
  margin-bottom: 12px;
  
}

.row {
  position: relative;
}


.grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.title {
  width: 250px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  line-height: 20px;
  margin-bottom: 12px;
}

.vibes {
  font-size: 12px;
  margin-bottom: 4px;

}
.video {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.profile {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}


.views {
  font-size: 12px;
  margin-top: 5px;
}
.pp {
  width: 40px;
  border-radius: 50%;

}

.title {
  margin-top: 0px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
}

.time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 20px;
  right: 5px;
  padding: 5px;
  font-family: arial;
  font-size: 12px;
  font-weight: 500;
  border-radius: 3px;
}